[AscendMoney_Extra_Packages_for_Enterprise_Linux_EPEL_7_RPMs_x86_64]
metadata_expire = 1
baseurl = http://{{ satellite_env_endpoint }}/pulp/repos/AscendMoney/{{ satellite_env }}/cv_centos7/custom/Extra_Packages_for_Enterprise_Linux/EPEL_7_RPMs_x86_64
name = EPEL 7 RPMs x86_64
enabled = 1

[AscendMoney_Prometheus_RPM_CentOS_Prometheus_RPM_CentOS_7_x86_64]
metadata_expire = 1
baseurl = http://{{ satellite_env_endpoint }}/pulp/repos/AscendMoney/{{ satellite_env }}/cv_centos7/custom/Prometheus_RPM_CentOS/Prometheus_RPM_CentOS_7_x86_64
name = Prometheus RPM CentOS 7 x86_64
enabled = 1

[AscendMoney_Elasticsearch_6_x_Elasticsearch_6_x]
metadata_expire = 1
baseurl = http://{{ satellite_env_endpoint }}/pulp/repos/AscendMoney/{{ satellite_env }}/cv_centos7/custom/Elasticsearch_6_x/Elasticsearch_6_x
name = Elasticsearch 6.x
enabled = 1

[AscendMoney_CentOS7_CentOS_7_Extras_RPMs_x86_64]
metadata_expire = 1
baseurl = http://{{ satellite_env_endpoint }}/pulp/repos/AscendMoney/{{ satellite_env }}/cv_centos7/custom/CentOS7/CentOS_7_Extras_RPMs_x86_64
name = CentOS 7 Extras RPMs x86_64
enabled = 1

[AscendMoney_CentOS7_CentOS_7_PAAS_RPMs_x86_64]
metadata_expire = 1
baseurl = http://{{ satellite_env_endpoint }}/pulp/repos/AscendMoney/{{ satellite_env }}/cv_centos7/custom/CentOS7/CentOS_7_PAAS_RPMs_x86_64
name = CentOS 7 PAAS RPMs x86_64
enabled = 1

[AscendMoney_Extra_Packages_for_Enterprise_Linux_EPEL_7_katello_agent_x86_64]
metadata_expire = 1
baseurl = http://{{ satellite_env_endpoint }}/pulp/repos/AscendMoney/{{ satellite_env }}/cv_centos7/custom/Extra_Packages_for_Enterprise_Linux/EPEL_7_katello_agent_x86_64
name = EPEL 7 katello agent x86_64
enabled = 1

[AscendMoney_CentOS7_CentOS_7_RPMs_x86_64]
metadata_expire = 1
baseurl = http://{{ satellite_env_endpoint }}/pulp/repos/AscendMoney/{{ satellite_env }}/cv_centos7/custom/CentOS7/CentOS_7_RPMs_x86_64
name = CentOS 7 RPMs x86_64
enabled = 1

[AscendMoney_CentOS7_CentOS_7_Updates_RPMs_x86_64]
metadata_expire = 1
baseurl = http://{{ satellite_env_endpoint }}/pulp/repos/AscendMoney/{{ satellite_env }}/cv_centos7/custom/CentOS7/CentOS_7_Updates_RPMs_x86_64
name = CentOS 7 Updates RPMs x86_64
enabled = 1
