[AscendMoney_Extra_Packages_for_Enterprise_Linux_EPEL_6_RPMs_x86_64]
metadata_expire = 1
baseurl = http://{{ satellite_env_endpoint }}/pulp/repos/AscendMoney/{{ satellite_env }}/cv_centos6/custom/Extra_Packages_for_Enterprise_Linux/EPEL_6_RPMs_x86_64
name = EPEL 6 RPMs x86_64
enabled = 1
gpgcheck = 0

[AscendMoney_CentOS6_CentOS_6_Extras_RPMs_x86_64]
metadata_expire = 1
baseurl = http://{{ satellite_env_endpoint }}/pulp/repos/AscendMoney/{{ satellite_env }}/cv_centos6/custom/CentOS6/CentOS_6_Extras_RPMs_x86_64
name = CentOS 6 Extras RPMs x86_64
enabled = 1
gpgcheck = 0

[AscendMoney_CentOS6_CentOS_6_RPMs_x86_64]
metadata_expire = 1
baseurl = http://{{ satellite_env_endpoint }}/pulp/repos/AscendMoney/{{ satellite_env }}/cv_centos6/custom/CentOS6/CentOS_6_RPMs_x86_64
name = CentOS 6 RPMs x86_64
enabled = 1
gpgcheck = 0

[AscendMoney_CentOS6_CentOS_6_Updates_RPMs_x86_64]
metadata_expire = 1
baseurl = http://{{ satellite_env_endpoint }}/pulp/repos/AscendMoney/{{ satellite_env }}/cv_centos6/custom/CentOS6/CentOS_6_Updates_RPMs_x86_64
name = CentOS 6 Updates RPMs x86_64
enabled = 1
gpgcheck = 0

[AscendMoney_CentOS6_EPEL_6_subscription-manager_x86_64]
metadata_expire = 1
baseurl = http://{{ satellite_env_endpoint }}/pulp/repos/AscendMoney/{{ satellite_env }}/cv_centos6/custom/Extra_Packages_for_Enterprise_Linux/EPEL_6_subscription-manager_x86_64/
name = CentOS 6 EPEL 6 subscription-manager x86_64
enabled = 1
gpgcheck = 0
