global:
  smtp_smarthost: '{{smtp_host}}'
  smtp_from: '{{email_from}}'
  smtp_require_tls: false

# The directory from which notification templates are read.
templates:
  - '/etc/prometheus/email.html'

# The root route on which each incoming alert enters.
route:
  # A default receiver
  group_by: ['alertname','owner','instance','severity']
  group_wait: 30s
  group_interval: 5m
  receiver: default_receive
  
  # route for label owner
  routes:
  
# Alert For system
  - match:
      owner: sys
    group_wait: 1m
    receiver: system_teamP3
    group_by: ['alertname','owner','severity','instance','instance_hostname']
    routes:
    - match:
        severity: critical
      repeat_interval: 4h
      receiver: system_teamP1
    - match:
        severity: warning
      repeat_interval: 6h
      receiver: system_teamP3
      
# Alert For sd
  - match:
      owner: sd
    group_wait: 1m
    receiver: sd_teamP3
    group_by: ['alertname','owner','severity','instance','node']
    routes:
    - match:
        severity: critical
      repeat_interval: 4h
      receiver: sd_teamP1
    - match:
        severity: warning
      repeat_interval: 6h
      receiver: sd_teamP3
      
# Alert For platform
  - match:
      owner: platform
    group_wait: 1m
    receiver: platform_teamP3
    group_by: ['alertname','owner','severity','instance','namespace','replicationcontrollers']
    continue: true
    routes:
    - match:
        severity: critical
      repeat_interval: 4h
      receiver: platform_teamP1
    - match:
        severity: warning
      repeat_interval: 6h
      receiver: platform_teamP3


# Alert For platform service
  - match:
      owner: ps
    group_wait: 1m
    receiver: platform_service_teamP3
    group_by: ['alertname','owner','severity','namespace','container','replicationcontrollers']
    routes:
    - match:
        severity: critical
      repeat_interval: 4h
      receiver: platform_service_teamP1
    - match:
        severity: warning
      repeat_interval: 6h
      receiver: platform_service_teamP3
      
      
  # Alert For dba
  - match:
      owner: dba
    group_wait: 1m
    receiver: dba_P3
    group_by: ['alertname','owner','severity','instance','instance_hostname','id','namespace','pod_name','replicationcontrollers','pod_ip','service','host_instance_ip']
    routes:
    - match:
        severity: critical
      repeat_interval: 4h
      receiver: dba_P1
    - match:
        severity: warning
      repeat_interval: 6h
      receiver: dba_P3

  # Alert For Testing
  - match:
      alertgroup: sending
    group_by: [alertname, alertgroup, severity]
    group_wait: 1m
    group_interval: 1m
    repeat_interval: 1s
    receiver: default_receive


## openshift platform condition    
{% for item in vars.platform_rules %}  
## Alert For {{item.name}} by owner
  - match:
      owner: {{item.owner}}
    group_wait: 30s
    receiver: {{item.severity.default}}
    group_by: ['alertname','owner','severity','instance','namespace','replicationcontrollers']
    continue: true
    routes:
    - match:
        severity: critical
      repeat_interval: 4h
      receiver: {{item.severity.critical}}
    - match:
        severity: warning
      repeat_interval: 6h
      receiver: {{item.severity.warning}}
## Alert For {{item.name}} by namespace
  - match_re:
      namespace: {{item.namespace}}
    group_wait: 30s
    receiver: {{item.severity.default}}
    group_by: ['alertname','owner','severity','instance','namespace','replicationcontrollers']
    continue: true
    routes:
    - match:
        severity: critical
      repeat_interval: 4h
      receiver: {{item.severity.critical}}
    - match:
        severity: warning
      repeat_interval: 6h
      receiver: {{item.severity.warning}}
{% endfor %}


# Inhibition rules allow to mute a set of alerts given that another alert is
# firing.
# We use this to mute any warning-level notifications if the same alert is
# already critical.
inhibit_rules:
- source_match:
    severity: 'critical'
  target_match:
    severity: 'warning'
  # Apply inhibition if the alertname is the same.
  equal: ['alertname', 'cluster', 'service']

receivers:
- name: 'default_receive'
  email_configs:
  - to: '{{ email_to_default_receive }}'
  
- name: 'system_teamP1'
  webhook_configs:
   - url: 'http://localhost:8181/alertmanager?url=https://chat.googleapis.com/v1/spaces/AAAAq0R-fRU/messages?key=AIzaSyDdI0hCZtE6vySjMm-WEfRq3CPzqKqqsHI&token=dko0vGdfEPBYgUiTomoxCfmfMJnCwl5rf3nizC94F8c%3D'
  email_configs:
  - to: '{{ email_to_system_team }}'
    
- name: 'system_teamP3'
  webhook_configs:
   - url: 'http://localhost:8181/alertmanager?url=https://chat.googleapis.com/v1/spaces/AAAAq0R-fRU/messages?key=AIzaSyDdI0hCZtE6vySjMm-WEfRq3CPzqKqqsHI&token=dko0vGdfEPBYgUiTomoxCfmfMJnCwl5rf3nizC94F8c%3D'
  email_configs:
  - to: '{{ email_to_system_team }}'
    
- name: 'sd_teamP1'
  webhook_configs:
   - url: 'http://localhost:8181/alertmanager?url=https://chat.googleapis.com/v1/spaces/AAAAcuQa-s4/messages?key=AIzaSyDdI0hCZtE6vySjMm-WEfRq3CPzqKqqsHI&token=DwBCb_kiCo0gUxez2zV36QoN5pjbm8AGc8UujmUgWGo%3D'
    
- name: 'sd_teamP3'
  webhook_configs:
   - url: 'http://localhost:8181/alertmanager?url=https://chat.googleapis.com/v1/spaces/AAAAcuQa-s4/messages?key=AIzaSyDdI0hCZtE6vySjMm-WEfRq3CPzqKqqsHI&token=DwBCb_kiCo0gUxez2zV36QoN5pjbm8AGc8UujmUgWGo%3D'
    
- name: 'platform_teamP1'
  webhook_configs:
   - url: 'http://localhost:8181/alertmanager?url=https://chat.googleapis.com/v1/spaces/AAAAL0JHfqc/messages?key=AIzaSyDdI0hCZtE6vySjMm-WEfRq3CPzqKqqsHI&token=VfVkmYcJfMuOxlcUte9aMQ53gQfloMC165Spuj6D8Rg%3D'
    
- name: 'platform_teamP3'
  webhook_configs:
   - url: 'http://localhost:8181/alertmanager?url=https://chat.googleapis.com/v1/spaces/AAAAL0JHfqc/messages?key=AIzaSyDdI0hCZtE6vySjMm-WEfRq3CPzqKqqsHI&token=VfVkmYcJfMuOxlcUte9aMQ53gQfloMC165Spuj6D8Rg%3D'
   
- name: 'platform_service_teamP1'
  webhook_configs:
   - url: 'http://localhost:8181/alertmanager?url=https://chat.googleapis.com/v1/spaces/AAAAK2MG3To/messages?key=AIzaSyDdI0hCZtE6vySjMm-WEfRq3CPzqKqqsHI&token=_2b82AZiLcPMzBYVP5-eVxwcnVXUu4r3H2Wgw8s8n1A%3D'
   - url: 'https://api-service-cicd.cicd.ascendmoney-dev.internal/api/vault/unseal-vault'
   
- name: 'platform_service_teamP3'
  webhook_configs:
   - url: 'http://localhost:8181/alertmanager?url=https://chat.googleapis.com/v1/spaces/AAAAK2MG3To/messages?key=AIzaSyDdI0hCZtE6vySjMm-WEfRq3CPzqKqqsHI&token=_2b82AZiLcPMzBYVP5-eVxwcnVXUu4r3H2Wgw8s8n1A%3D'
   - url: 'https://api-service-cicd.cicd.ascendmoney-dev.internal/api/vault/unseal-vault'



- name: 'dba_P1'
  webhook_configs:
   - url: 'http://localhost:8181/alertmanager?url=https://chat.googleapis.com/v1/spaces/AAAAJp9Wy4s/messages?key=AIzaSyDdI0hCZtE6vySjMm-WEfRq3CPzqKqqsHI&token=ebtiyufhP39gYEV-YYvZBZ951qF-i2OIW9GjuVLbSjA%3D'
  email_configs:
  - to: '{{ email_to_dba }}'
  
- name: 'dba_P3'
  webhook_configs:
   - url: 'http://localhost:8181/alertmanager?url=https://chat.googleapis.com/v1/spaces/AAAAJp9Wy4s/messages?key=AIzaSyDdI0hCZtE6vySjMm-WEfRq3CPzqKqqsHI&token=ebtiyufhP39gYEV-YYvZBZ951qF-i2OIW9GjuVLbSjA%3D'
  email_configs:
  - to: '{{ email_to_dba }}'




## Openshift receiver
- name: 'core_dev.default'
  webhook_configs:
   - url: 'http://localhost:8181/alertmanager?url=https://chat.googleapis.com/v1/spaces/AAAASVi8Xb0/messages?key=AIzaSyDdI0hCZtE6vySjMm-WEfRq3CPzqKqqsHI&token=UlszVrQvI1hfsPy62Lc7H7v-GPTtp3NWOeVy23dNmWY%3D'
    
- name: 'creditpay_dev.default'
  webhook_configs:
   - url: 'http://localhost:8181/alertmanager?url=https://chat.googleapis.com/v1/spaces/AAAA0h-WODs/messages?key=AIzaSyDdI0hCZtE6vySjMm-WEfRq3CPzqKqqsHI&token=BkH1DaujWt0w9GOMA9zAhi8esGO59_6FbXIMvk2vYww%3D'

- name: 'creditpay_ext.default'
  webhook_configs:
   - url: 'http://localhost:8181/alertmanager?url=https://chat.googleapis.com/v1/spaces/AAAAo7vsUKQ/messages?key=AIzaSyDdI0hCZtE6vySjMm-WEfRq3CPzqKqqsHI&token=7HqfQADW9nH3IYMJK96PpIjds9epuCLxf7dSockwjoU%3D'
   
- name: 'bpay_dev.default'
  webhook_configs:
   - url: 'http://localhost:8181/alertmanager?url=https://chat.googleapis.com/v1/spaces/AAAACCOE-Wo/messages?key=AIzaSyDdI0hCZtE6vySjMm-WEfRq3CPzqKqqsHI&token=eodl7XmgmS7XemQS_QL38xafB8yatGOKvCry7rCoNRI%3D'
  email_configs:
  - to: '{{ email_to_dev_bpay }}'